.table {
    display: block;
    width: 100%;
    overflow-x: auto;

    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    line-height: 1.46;

    border-collapse: collapse;
    border: 0;

    &__header {
        background-color: #fff6ef;

        .table__cell {
            font-weight: 500;
        }
    }

    &__row {
        border-bottom: 1px solid rgba(#000, 0.12);
    }

    &__body {
        .table__row {
            &:last-child {
                border-bottom: 0;
            }
        }
    }

    &--orders {
        .table__cell {
            .time {
                display: block;

                color: #afafaf;
            }

            &--created {
                min-width: 200px;
            }
            &--shipment {
                min-width: 220px;
            }
            &--status {
                min-width: 145px;
            }
            &--price {
                min-width: 268px;
            }
        }
    }

    &__cell {
        padding: 16px;

        border: 0;

        .checkbox {
            margin-right: 10px;
        }

        &--art {
            min-width: 145px;
        }
        &--name {
            min-width: 266px;
        }
        &--unit {
            min-width: 146px;
        }
        &--quantity {
            min-width: 146px;
        }
        &--price {
            min-width: 146px;
        }
        &--reserve {
            min-width: 146px;
        }
        &--returned {
            min-width: 146px;
        }
        &--photo {
            min-width: 100px;
        }
    }
}
