<header class="header">
    <form action="/" class="form">
        <!-- <input type="search" class="form__input" placeholder="Поиск"> -->
        <button type="button" class="btn" aria-label="развернуть поисковую строку">
            <img src="img/icons/search.svg" alt="поиск">
        </button>
    </form>

    <div class="user-menu">
        <img src="img/user-menu/avatar.jpg" alt="аватар" class="user-menu__userpic">

        <span class="user-menu__name">
            Николаев Н.В.

            <img src="img/icons/triangle-down.svg" class="user-menu__icon" alt="">
        </span>
    </div>
</header>