<header class="header">
    <button type="button" class="btn burger">
        <span class="burger__item"></span>
        <span class="burger__item"></span>
        <span class="burger__item"></span>
    </button>

    <form action="/" class="form form--search">
        <!-- <input type="search" class="form__input" placeholder="Поиск"> -->
        <button type="button" class="btn" aria-label="развернуть поисковую строку">
            <img src="img/icons/search.svg" alt="поиск">
        </button>
    </form>

    <a href="profile.html" class="user-menu">
        <img src="img/user-menu/avatar.jpg" alt="аватар" class="user-menu__userpic">

        <span class="user-menu__name">
            Николаев Н.В.

            <img src="img/icons/triangle-down.svg" class="user-menu__icon" alt="">
        </span>
    </a>
</header>