<div class="modal modal--profile">
    <div class="modal__inner">
        <button type="button" class="btn modal-btn-close" aria-label="Закрыть модальное окно">
            <img src="img/icons/close.svg" alt="">
        </button>

        <h2 class="modal__title">
            Добавление сотрудника
        </h2>


        <section class="section--profile-form">
            <h3 class="section__title">Личные данные</h3>

            <div class="section__content">
                <div class="profile">
                    <form action="/" class="form form--profile">
                        <div class="profile__image-block">
                            <img src="img/profile/profile-pic.jpg" class="profile__preview" alt="Изображение профиля">

                            <div class="form__file-block">
                                <label for="input-file">
                                    <input id="input-file" type="file" name="profile-pic" class="form__input-file">
                                    <span>Выбрать фото</span>
                                </label>
                            </div>
                        </div>

                        <div class="profile__text-block">
                            <div class="form__group">
                                <label for="input-name" class="form__label">
                                    <span>Имя</span>
                                    <input id="input-name" type="text" name="name" class="form__input" value="Никита"
                                        required>
                                </label>
                                <label for="input-surname" class="form__label">
                                    <span>Фамилия</span>
                                    <input id="input-surname" type="text" name="surname" class="form__input"
                                        value="Николаев" required>
                                </label>
                            </div>
                            <div class="form__group">
                                <label for="input-mid-name" class="form__label">
                                    <span>Отчество</span>
                                    <input id="input-mid-name" type="text" name="mid-name" class="form__input"
                                        value="Васильевич" required>
                                </label>
                                <label for="input-birthday" class="form__label">
                                    <span>Дата рождения</span>
                                    <input id="input-birthday" type="date" name="birthday" class="form__input"
                                        value="13.04.1999" required>
                                </label>
                            </div>
                            <div class="form__group">
                                <label for="input-tel" class="form__label">
                                    <span>Телефон</span>
                                    <input id="input-tel" type="tel" name="tel" class="form__input"
                                        value="+7 (963) 532-43-35" required>
                                </label>
                                <label for="input-email" class="form__label">
                                    <span>Эл. почта</span>
                                    <input id="input-email" type="email" name="email" class="form__input"
                                        value="mymailwork@example.com" required>
                                </label>
                            </div>
                            <div class="form__group form__group--lg">
                                <label for="input-position" class="form__label">
                                    <span>Должность</span>
                                    <input id="input-position" type="text" name="position" class="form__input"
                                        value="Администратор" required>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal__footer">
                    <button type="button" class="btn btn--orange modal__continue">Продолжить</button>
                </div>
            </div>
        </section>

        <section class="section--profile-form-password">
            <h3 class="section__title">Создание пароля</h3>

            <div class="section__content">
                <div class="profile">
                    <form action="/" class="form form--profile-password">
                        <div class="profile__text-block">
                            <div class="form__group">
                                <label for="input-pas" class="form__label">
                                    <span>Новый пароль</span>
                                    <input id="input-password" type="password" name="password" class="form__input"
                                        required>
                                </label>
                            </div>
                            <div class="form__group">
                                <label for="input-pas-rep" class="form__label">
                                    <span>Повторите пароль</span>
                                    <input id="input-pas-rep" type="password" name="password-repeat" class="form__input"
                                        required>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal__footer">
                    <button type="button" class="btn btn--rose modal__continue">Назад</button>
                    <button type="button" class="btn btn--orange modal__continue">Завершить</button>
                </div>
            </div>
        </section>

    </div>
</div>