<div class="modal modal--order">
    <div class="modal__inner">
        <button type="button" class="btn modal-btn-close" aria-label="Закрыть модальное окно">
            <img src="img/icons/close.svg" alt="">
        </button>

        <header class="modal__header">
            <h2 class="modal__title">
                Информация о заказе
            </h2>

            <h3 class="modal__order">№4631224 от 22.11.2022</h3>

            <span class="modal__order-status orders__state--part-returned">
                Частично возвращен
            </span>

            <span class="modal__order-update">Последнее обновление – 26.11.2022</span>
        </header>

        <section class="section--order">
            <div class="modal__order-data__text">
                <h3 class="section__title">Дверь межкомнатная Зодчий Bene Italia Элеганте 3</h3>

                <div class="section__content">
                    <span class="modal__art">Артикул: 365212</span>

                    <div class="modal__order-data">
                        <div class="modal__order-data-row">
                            <div class="modal__order-data-item">
                                <span class="modal__order-data-item-caption">
                                    Статус
                                </span>
                                Продан
                            </div>
                            <div class="modal__order-data-item">
                                <span class="modal__order-data-item-caption">
                                    Дата изменения статуса
                                </span>
                                26.11.2022
                            </div>
                        </div>
                        <div class="modal__order-data-row">
                            <div class="modal__order-data-item">
                                <span class="modal__order-data-item-caption">
                                    Цена за шт.
                                </span>
                                9 165 ₽
                            </div>
                            <div class="modal__order-data-item">
                                <span class="modal__order-data-item-caption">
                                    Количество
                                </span>
                                5 шт.
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal__order-data-image">
                <picture>
                    <source srcset="img/modal/door.webp">
                    <img src="img/modal/door.jpg" alt="Дверь межкомнатная Зодчий Bene Italia Элеганте 3">
                </picture>
            </div>


        </section>

        <section class="section section--good-delivery">
            <h3 class="section__title">Движение товара</h3>
            <div class="section__content">
                <ul class="section__list">
                    <li class="section__list-item">
                        <span>1 шт.</span>
                        <span>Склад принял как брак</span>
                        <span>26.11.2022</span>
                    </li>
                    <li class="section__list-item">
                        <span>4 шт.</span>
                        <span>Доставлен заказчику</span>
                        <span>26.11.2022</span>
                    </li>
                </ul>
            </div>
        </section>

    </div>
</div>