<aside class="sidebar">
    <a href="index.html">
        <picture>
            <source srcset="img/logo/logo.webp">
            <img src="img/logo/logo.png" class="logo sidebar__logo" alt="Логотип">
        </picture>
    </a>

    <nav class="nav sidebar__nav">
        <ul class="nav__list">
            <li class="nav__item">
                <a href="index.html" class="nav__link active">
                    <span class="nav__item-icon">
                        <img src="img/icons/house.svg" alt="">
                    </span>

                    <span class="nav__item-text">
                        Главная
                    </span>
                </a>
            </li>
            <li class="nav__item">
                <button type="button" class="btn nav__btn">
                    <span class="nav__item-icon">
                        <img src="img/icons/box.svg" alt="">
                    </span>

                    <span class="nav__item-text">
                        Товары
                    </span>

                    <span class="nav__item-chevron">
                        <img src="img/icons/chevron-down.svg" alt="">
                    </span>
                </button>

                <div class="nav__sublist-wrapper">
                    <ul class="nav__sublist">
                        <li class="nav__item">
                            <a href="orders.html" class="nav__link">Заказы</a>
                        </li>
                        <li class="nav__item">
                            <a href="catalog" class="nav__link">Каталог</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav__link">Движение товаров</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav__item">
                <a href="#" class="nav__link">
                    <span class="nav__item-icon">
                        <img src="img/icons/doc.svg" alt="">
                    </span>

                    <span class="nav__item-text">
                        Отчеты
                    </span>
                </a>
            </li>
            <li class="nav__item">
                <button type="button" class="btn nav__btn">
                    <span class="nav__item-icon">
                        <img src="img/icons/crm.svg" alt="">
                    </span>

                    <span class="nav__item-text">
                        CRM
                    </span>

                    <span class="nav__item-chevron">
                        <img src="img/icons/chevron-down.svg" alt="">
                    </span>
                </button>
            </li>
            <li class="nav__item">
                <a href="#" class="nav__link">
                    <span class="nav__item-icon">
                        <img src="img/icons/card.svg" alt="">
                    </span>

                    <span class="nav__item-text">
                        Бухгалтерия
                    </span>
                </a>
            </li>
            <li class="nav__item">
                <a href="#" class="nav__link">
                    <span class="nav__item-icon">
                        <img src="img/icons/geo-tag.svg" alt="">
                    </span>

                    <span class="nav__item-text">
                        Поставщики
                    </span>
                </a>
            </li>
            <li class="nav__item">
                <a href="#" class="nav__link">
                    <span class="nav__item-icon">
                        <img src="img/icons/employees.svg" alt="">
                    </span>

                    <span class="nav__item-text">
                        Сотрудники
                    </span>
                </a>
            </li>
        </ul>
    </nav>

</aside>