// colors
$colors-bg: #fafafa;
$colors-bg-highlight: #ffeddf;

$colors-text: rgba(#000, 0.87);
$colors-text-title: #000;
$colors-text-light: rgba(#000, 0.6);

// typography
$family: 'Roboto', sans-serif;

// media
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
