// colors
$colors-bg: #fafafa;
$colors-bg-highlight: #ffeddf;
$colors-highlight: #ff7d1f;

$colors-text: rgba(#000, 0.87);
$colors-text-title: #000;
$colors-text-light: rgba(#000, 0.6);

$colors-pending: #ebf0ff;
$colors-completed: #d2ffd7;
$colors-sorting: #fffee0;
$colors-shipped: #fff0d9;
$colors-part-returned: #ffdad2;

// typography
$family: 'Roboto', sans-serif;

// media
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
